<!DOCTYPE html>
{% extends 'menu.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
{% block pagename %}<h1>Корзина</h1>{% endblock %}
{% block menu %}
{{ block.super }}
{% endblock %}
{% block content %}
    {% if request.session.cart %}
        <p>Вы добавили в корзину следующие игры(у):</p>
        <ul>
            {% for item, count in request.session.cart.items %}
                <li>
                    {{ item }}
                    {% if count > 1 %}
                        ({{ count }})
                    {% endif %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
    <a href="{% url 'clear_cart' %}"><button>Очистить корзину</button></a>
    <a href="{% url 'main' %}"><button>Вернуться обратно на главную страницу
</button></a>
{% endblock %}
</body>
</html>