body {
    background-image: url('images/picture.webp');
    background-size: cover;
    background-repeat: no-repeat;;
}

.news-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.news-date {
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination .current {
    padding: 5px 10px;
    font-weight: bold;
}